.nav-tabs .nav-link {
    color: white !important;
}

.nav-tabs .nav-link.active {
    color: rgb(73, 144, 194) !important;
}

.toast {
    height: 600px;
    box-shadow: none;
}

#f1,
#f2,
#b2,
#b3,
#f3,
#b4,
#f4,
#b5,
#f5 {
    width: 50%;
    border-radius: 0;
    background: rgb(73, 144, 194) !important;
    margin-bottom: 2em
}

#None {
    display: none;
}