.nav-tabs .nav-link {
    color: white !important;
}

.nav-tabs .nav-link.active {
    color: rgb(73, 144, 194) !important;
}

.toast {
    height: 480px;
    box-shadow: none;
}

#goalButton,
#durationBack,
#durationNext,
#durationBack2,
#durationBack3,
#durationNext2,
#durationNext3 {
    width: 50%;
    border-radius: 0;
    background: rgb(73, 144, 194) !important;
    margin-bottom: 2em
}